body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: green;
    font-size: 24pt;
}

a:hover{
	color: black;
	font-size: 40px;
}
.important_paragraph:hover{
	color: red;
	font-family: italic

}
.less_impo:hover{
	color:blue;
}

